body {
  margin: 0px;
  font-family: 'Inter';
  font-style: normal;
}

.navbar {
  background-color: #F55A5A;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}

.navbar--icon {
  width: 24px;
  height: 24px;
  margin: 7px;
}

.navbar--text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}



.journey {
  display: flex;
  align-items: center;
  width: 470px;
  height: 207px;
  margin: 0px auto;
  border-bottom: 1px solid #F5F5F5;
}

.journey--image {
  height: 168px;
  width: 125px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 20px;
}

.journey--location {
  display: flex;
  align-items: center;
}

.journey--location--sign {
  height: 9.55px;
  width: 7px;
  margin: 0px;
}

.journey--location--country {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.17em;
  color: #2B283A;
  line-height: 12px;
  margin-left: 4px;
}

.journey--location--map {
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
  margin-left: 12px;
  margin-bottom: 0px;
}

.journey--sight {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
  margin: 0px;
}

.journey--dates {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #2B283A;
}

.journey--text {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2B283A;
}

